<div class="card mb-3">
  <div class="row g-0 d-flex align-items-center">
    <div class="col-lg-4 d-none d-lg-flex">
      <img src="https://images.unsplash.com/photo-1567808291548-fc3ee04dbcf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Trendy Pants and Shoes"
           class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"/>
    </div>
    <div class="col-lg-8">
      <div class="card-body py-5 px-md-5">
        <h2 class="card-title mb-2">Login</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "" }) do |f| %>

          <div class="field form-outline mb-4">
            <%= f.label :email, class:"form-label" %><br/>
            <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password, class:"form-label" %><br/>
            <%= f.password_field :password, class:"form-control", autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field row mb-3 mt-2">
              <div class="col d-flex mt-2 justify-content-left">
                <%= f.check_box :remember_me, class:"form-check-input" %>
                <%= f.label :remember_me, class:"form-check-label"%>
              </div>
            </div>
          <% end %>
          <div class="row">
            <%= f.submit "Log in", class:"col-2 btn btn-primary btn-block ms-2 me-2" %>
            <%= render "devise/shared/links" %>
            <%= render 'devise/shared/error_messages' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


