<% if current_user %>
  <nav id="nav" class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= root_path %>">Premo Cars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= cars_path %>">Cars</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if current_user.role == "admin" %>
              <a class="dropdown-item" href="<%= admin_panel_admin_panel_path %>">Admin Panel</a>
            <% end %>

            <a class="dropdown-item" href="<%= edit_user_registration_path %>">Account Details</a>
            <% if current_user.role != "admin" %>
              <a class="dropdown-item" href="<%= root_path %>">Previous Orders</a>
            <% end %>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= destroy_user_session_path %>">Logout</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= about_us_about_us_path %>">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
<% else %>
  <%# user not logged in %>
  <nav id="nav" class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= root_path %>">Premo Cars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="<%= new_user_session_path %>">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_registration_path %>">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= about_us_about_us_path %>">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
<% end %>
