<div class="adjustPos mt-4">
  <h1><%= @car.brand + " " + @car.model %></h1>
  <p>Engine: <%= @car.engine %></p>
  <p><%=@car.horsepower %>HP</p>
  <p>MPG: <%= @car.mpg %></p>
  <p>Price Per Day: <%= @car.price %></p>

</div>

<div class="adjustPos">
  <h4>Reviews <%= @car.reviews.public_count %></h4>
  <%= render @car.reviews %>

  <% if current_user %>
  <% if current_user.role != "admin" %>
    <%= render 'reviews/form' %>
  <% end %>
  <% end %>
</div>