<%= form_with model: [ @car, @car.reviews.build ] do |form| %>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </p>
  <p>
    <%= form.label "Review Text"%><br>
    <%= form.text_area :reviewbody %><br>

    <input hidden class="hidden" type="text" id="username" name="username" value="<%= current_user.email %>">
    <input hidden class="hidden" type="text" id="user_id" name="user_id" value="<%= current_user.id %>">

  </p>
  <p>
    <%= form.submit%>
  </p>
<%end%>